.detail {
	position: fixed;
	left: 25px;
	bottom: 25px;
	width: calc(100% - 586px - 2 * 25px);

	background-color: $panel-bkg-color;
	// backdrop-filter: blur(10px); FIXME
	z-index: 10;

	box-shadow: 0 0 6px $shadow-color;
	transition: transform $medium, width $medium;

	.titlebar {
		display: flex;
		justify-content: space-between;
		margin: 25px;
		margin-left: 40px;
	}

	.content {
		margin: 40px;
		margin-top: 0;
	}

	&.maximized {
		width: calc(100vw - 2 * 25px);

		.content {
			p { max-height: 0; }
			.photo { height: calc(100vh - (2 * 25px) - 106px - 25px - 116px - 40px); }
		}
	}

	&.hidden {
		transform: translate(0, calc(100% + 26px));
	}
}

.detail .titlebar {
	.headline {
		height: 56px;
		text-transform: uppercase;
		position: relative;
		font: $semibold 3.6rem/1.8 'Relish Pro';

		&.poi {
			padding-left: 68px;

			&::before,
			&::after {
				content: '';
				position: absolute;
				border-radius: 50%;
			}

			&::before {
				top: 0;
				left: 0;
				width: 56px;
				height: 56px;
				transition: transform $fast;
				border: solid 8px rgba(white, .5);
				box-sizing: border-box;
			}

			&::after {
				top: 16px;
				left: 16px;
				width: 24px;
				height: 24px;
				background-color: $panel-bkg-color;
			}
		}

		&.region {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -65px;
				width: 42px;
				height: 56px;
				clip-path: polygon(0 0, 0 56px, 27px 56px, 42px 28px, 27px 0);
			}
		}
	}
}

.detail .content {
	p {
		column-count: 3;
		column-gap: 50px;
		text-align: justify;
		max-height: 192px;
		transition: max-height $medium;
		overflow: hidden;
	}

	.photo {
		width: 100%;
		height: 0;

		transition: height $medium;
		overflow: hidden;
		position: relative;

		.images {
			li {
				position: absolute;
				width: 100%;
				height: 100%;
				transition: opacity $medium;

				img {
					height: 100%;
					margin: auto;
				}

				&.hidden { opacity: 0 }

				.description {
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: 15px;

					background-color: rgba($panel-bkg-color, .8);
				    text-align: center;
				}
			}
		}

		.actions {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;

			display: flex;
			justify-content: space-between;
			align-items: stretch;

			& > * {
				width: 40%;

				a {
					height: 100%;
					padding: 25px;

					display: flex;
					align-items: center;

					.icon {
						width: 56px	;
						height: 56px;
						padding: 14px;
						box-sizing: border-box;
						background-color: rgba($panel-bkg-color, .33);
					}

					&.forward { flex-direction: row-reverse; }
					&.disabled { display: none; }
					&:not(.disabled):active {
						.icon {
							background-color: rgba($accent-color-yellow, .25);
						}
					}
				}
			}
		}
	}

	.thumbnails {
		display: flex;
		overflow-x: auto;
		margin-top: 25px;
		position: relative;

		li:not(:first-child) {
			margin-left: 8px;
		}

		a {
			transition: opacity $fast, transform $fast;

			&:active {
				transform: scale(.94);
				transform-origin: center;
			}

			&.selected {
				opacity: .33;
			}
		}

		img {
			height: 116px;
		}
	}
}
