.map {
	width: 748px;
	height: 860px;
	// background: white url('/images/map.png') no-repeat;
	position: relative;
	transition: transform $slow;
	transition-timing-function: linear;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.regions {
		fill: rgba(white, 0);
		stroke-width: 0;
		stroke: white;
	}

	.pois {
		.poi {
			cursor: pointer;
			transition: transform $slow;

			& > * { transition: transform $fast; }

			.bkg {
				fill: rgba(white, .5);
			}

			.beacon {
				display: none;
				fill: none;
				stroke-width: 16px;
			}

			.point {
				:first-child { opacity: .5; }
				:last-child { transition: transform $fast; }
			}
		}

		.poi:active,
		.poi.selected {
			.point {
				:last-child { transform: scale(1.33); }
			}
		}

		.poi.selected {
			.beacon {
				display: block;
				animation: pulse $pulse linear infinite;
			}
		}

		.poi.hidden {
			pointer-events: none;
			& > * { transform: scale(0); }
		}
	}
}
