.sidebar {
	position: fixed;
	top: 0;
	right: 0;

	width: 586px;
	height: 100%;

	background-color: $panel-bkg-color;
	box-shadow: -1px 0 $shadow-color;
	transition: top $medium, height $medium, transform $medium;
	z-index: 1;

	.content {
		padding: 48px 56px;
		height: calc(100% - 186px);
		overflow-y: auto;
	}

	.toolbar {
		height: 56px;
		margin-left: 56px;
		padding: 15px 22px 15px 0;
		box-shadow: 0 -1px $shadow-color;

		display: flex;
		justify-content: space-between;
	}
}

.sidebar .content {
	.back {
		float: left;
		width: 40px;
		height: 30px;
		background: url("/images/icons_act.svg") 0 -240px no-repeat;

		&:not(.hidden) + .headline {
			margin-left: 56px;
		}
	}
	.back.hidden {
		display: none;
	}

	.headline {
		margin-bottom: 28px;
		text-transform: uppercase;
		position: relative;

		.title {
			font: $semibold 3.6rem/1.16 'Relish Pro';
		}

		.subtitle {
			font: $condensed 2.2rem 'Relish Pro';
			color: $light-text-color;
			letter-spacing: 0.05rem;
			padding-left: 55px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -11px;
			width: 42px;
			height: 36px;
			clip-path: polygon(0 0, 0 20px, 21px 36px, 42px 20px, 42px 0);
		}
	}

	p {
		margin-bottom: 24px;
	}

	.regions {
		.region {
			margin-bottom: 10px;

			.title {
				font: $semibold 2.6rem 'Relish Pro';
				text-transform: uppercase;
			}
			// .subtitle {
			// 	font: $condensed 1.8rem 'Proxima Nova';
			// 	color: $light-text-color;
			// }
		}
	}
	.regions.hidden {
		display: none;
	}

	.maps {
		margin-bottom: 24px;
		padding: 0 0 20px 0;
		column-count: 2;
		box-shadow: 0 1px $shadow-color;

		.map {
			height: 42px;
			margin-bottom: 8px;
			padding-left: 56px;
			font: $semibold 2.6rem/1.85 'Relish Pro';
			text-transform: uppercase;
			position: relative;

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 42px;
				height: 42px;

				border-radius: 2px;
				transition: transform $fast;
			}

			&::before {
				opacity: .5;
			}
		}

		.map.selected {
			background-color: pink;
		}

		.map:active {
			&::after {
				transform: scale(.67);
			}
		}
/*
		.map.inactive {
			color: rgba($regular-text-color, .1);

			&::before,
			&::after {
				background: none;
			}

			&::after {
				box-shadow: inset 0 0 0 1px $shadow-color;
			}
		}
*/
	}

	.pois {
		.poi {
			height: 36px;
			max-height: 36px;
			margin: 0 0 10px 3px;
			padding-left: 50px;
			font: $semibold 2.2rem/1.85 'Relish Pro';
			white-space: nowrap;
			text-transform: uppercase;
			position: relative;

			transition: max-height $fast, margin $fast;

			&::before,
			&::after {
				content: '';
				position: absolute;
				border-radius: 50%;
				z-index: 1;
			}

			&::before {
				top: 0;
				left: 0;
				width: 36px;
				height: 36px;
				opacity: .5;
			}

			&::after {
				top: 8px;
				left: 8px;
				width: 20px;
				height: 20px;
				transition: transform $fast;
			}
		}

		.poi:active:not(.selected) {
			&::after {
				transform: scale(.67);
			}
		}

		.poi.selected {
			&::before {
				animation: pulse $pulse linear infinite;
			}

			&::after {
				top: 0;
				left: 0;
				border: solid 8px rgba(white, .5);
			}
		}

		.poi.hidden {
			max-height: 0;
			margin-bottom: 0;
			overflow: hidden;
		}
	}
	.pois.hidden {
		display: none;
	}
}

.sidebar.hidden {
	top: 0;
	height: 100%;
	transform: translate(100%, 0);
}
