/* colors */
$page-bkg-color: rgb(205,213,220);
$block-bkg-color: rgb(233,240,247);
$menu-bkg-color: rgb(89,106,131);
$outline-color: rgb(159, 168, 163);

$regular-text-color: black;
$inverse-text-color: white;
$label-text-color: rgb(70,87,104);

$accent-1-color: rgb(0,155,229);
$accent-2-color: rgb(130,186,2);

/* reset */
body {
	margin: 0;
	padding: 0;

	background-color: $page-bkg-color;
	font: normal 12pt sans-serif;
}

table {
	border-spacing: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
}

/* commons */
a {
	display: block;
	color: $regular-text-color;
	text-decoration: none;
}

label {
	display: block;
	font: bold 11pt/1.8 sans-serif;
	color: $label-text-color;

	&::after { content: ':'; }
}

input,
select,
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: white;
	border: solid 1px $outline-color;
	font: normal 12pt sans-serif;

	box-sizing: border-box;
	border-radius: 0;
	resize: none;
	-webkit-appearance: none;
}

.form {
	columns: 300px 2;
	margin-bottom: 10px;

	& > * {
		margin-bottom: 10px;
	}

	textarea {
		height: 250px;
	}
}

.bar {
	display: flex;
	flex-wrap: wrap;
	padding: 2.5px;
	margin-bottom: 10px;
	background-color: $block-bkg-color;

	&.center { justify-content: center; }
	& > * { margin: 2.5px; }
}

.button {
	padding: 10px 20px;
	background-color: $accent-1-color;
	color: $inverse-text-color;
	cursor: pointer;

	&.alt { background-color: $accent-2-color; }
}

.table {
	width: 100%;

	td {
		padding: 5px;
	}

	thead {
		font: bold 11pt/1.8 sans-serif;
		color: $label-text-color;
	}

	tbody {
		td {
			border-top: solid $page-bkg-color 1px;
			background-color: $block-bkg-color;
		}
	}

	.actions {
		width: 1%;
		white-space: nowrap;

		.button { display: inline-block; }
	}
}

.maps,
.regions {
	.button:not(.selected) {
		background-color: white;
		color: $regular-text-color;
		box-shadow: inset 0 0 0 1px rgba(black, .2);
	}
}

/* tabs */
.tabs {
	padding: 10px;
	background-color: $menu-bkg-color;

	ul { display: flex; }
	.button:not(.selected) {
		background-color: transparent;
	}
}

.panels {
	max-width: 980px;
	padding: 30px;

	.panel:not(:first-child) { display: none; }
}

/* articles */
#articles {

}

/* points */
#pois {
	.wrapper {
		display: none;
	}

	.form {
		.labels label,
		[name="map"], [name="region"],
		[name="position"], [name="label"] {
			display: inline-block;
			width: calc(50% - 4px);
		}

		.picker {
			display: none;
			position: absolute;
			left: 30px;
			width: calc(100vw - 64px);
			max-width: 980px;
			margin-top: 3px;

			background-color: white;
			box-shadow: inset 0 0 0 1px $outline-color;
			cursor: crosshair;

			img {
				width: 100%;
			}
		}
	}
}

/* uploader, gallery */
#articles,
#pois {
	.uploader,
	.gallery {
		display: none;
		width: 100%;
		margin-top: -10px;
		margin-bottom: 20px;
	}

	.uploader {
		input {
			width: calc(100% - (96px + 16px));
			height: 38px;
			padding: 8px;
		}

		.button {
			float: right;
			width: 56px;
			text-align: center;
		}
	}

	.gallery {
		.template {
			display: none;
		}

		td {
			padding: 6px 8px;

			&:first-child { padding-left: 0 }
			&:last-child { padding-right: 0 }
		}

		thead td { padding: 0 8px; }
		tbody tr {
			&:first-child td { padding-top: 0; }
			&:last-child td { padding-bottom: 0; }
		}

		.thumbnail,
		.actions {
			width: 96px;
		}

		img {
			height: 62px;
			border: solid 1px $outline-color;
		}

		textarea {
			height: 64px;
			padding: 5px;
		}
	}
}

@media all and (max-width: 690px) {
	#articles,
	#pois {
		.gallery {
			display: block;

			thead,
			tbody {
				display: block;
			}

			thead tr {
				display: block;
				td:not(:first-child) { display: none; }
			}

			tbody tr {
				display: block;
				position: relative;
				margin-bottom: 12px;

				td {
					display: block;
					padding: 2px 8px;

					&.thumbnail {
						position: absolute;
						top: 34px;
						left: 0;
					}
					&.actions {
						position: absolute;
						top: 48px;
						right: 0;
					}

					&:not(.thumbnail):not(.actions) {
						margin: 0 104px;
					}
				}

				&:first-child td { padding-top: 2px; }
				&:last-child td { padding-bottom: 2px; }
			}
		}
	}
}
